:root {
  /* --- Tipografia e Espaçamento --- */
  --fonte-principal: 'Open Sans', sans-serif;
  --fonte-destaque: 'Montserrat', sans-serif;

  --espaco-1: 8px;
  --espaco-2: 16px;
  --espaco-3: 24px;
  --espaco-4: 32px;
  --espaco-5: 48px;
  --espaco-6: 64px;

  /* --- Cores do Tema (Padrão / Claro) --- */
  --cor-primaria: #005f9e;        /* Azul institucional */
  --cor-primaria-escura: #004a7c; /* Hover botões */
  --cor-secundaria: #f8991d;      /* Laranja destaque */
  --cor-secundaria-escura: #d68215; /* Hover secundário */

  /* Variáveis Semânticas (que mudam no Dark Mode) */
  --cor-fundo-site: #f4f4f8;             
  --cor-fundo-componente: #ffffff;       
  --cor-texto-principal: #454f5b;        
  --cor-texto-titulo: #1c232b;        
  --cor-borda: #dfe3e8;           
  --cor-fundo-input: #f4f4f8;             
  --cor-fundo-hover: #f4f4f8;             
}

/* --- Estilos do Modo Escuro --- */
body.dark-mode {
  /* Reverte as cores para alto contraste */
  --cor-fundo-site: #121212;
  --cor-fundo-componente: #1e1e1e;
  --cor-texto-principal: #e0e0e0;
  --cor-texto-titulo: #ffffff;
  --cor-borda: #444444;       /* <-- Corrigido aqui (era horda) */
  --cor-fundo-input: #2c2c2c;
  --cor-fundo-hover: #333333;
}